<form class="form" (ngSubmit)="onSubmit()">
  <div class="form-fields">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        [field]="registrationForm.email"
      >
      @if (!registrationForm.email().valid()) {
        <mat-error>Некорректный email</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width password-field">
      <mat-label>Пароль</mat-label>
      <input
        matInput
        [type]="isShowPassword() ? 'text' : 'password'"
        [field]="registrationForm.password"
      >
      <button class="password-eye-btn" type="button" (click)="isShowPassword.set(!isShowPassword())">
        <i [ngClass]="isShowPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
      </button>
      @if (!registrationForm.password().valid()) {
        <mat-error>Пароль менее 8 символов</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Тип аккаунта</mat-label>
      <mat-select [field]="registrationForm.type">
        @for (role of rolesArray(); track role.key) {
          <mat-option [value]="role.key">{{ role.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-actions">
    <div>
      <app-button type="submit"
                  [disabled]="!registrationForm.password().valid() || !registrationForm.email().valid()">
        Регистрация
      </app-button>
    </div>
    <div class="form-links">
      <!-- Ссылка "Забыл пароль?" -->
      <div class="text-nowrap">
      <span id="forgot-password">
        Есть уже аккаунт? <a href="/">Вход</a>
      </span>
      </div>
    </div>
  </div>
</form>
