<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-fields">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
      >
      @if (form.controls['email'].hasError('email')) {
        <mat-error>Некорректный email</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width password-field">
      <mat-label>Пароль</mat-label>
      <input
        matInput
        [type]="isShowPassword() ? 'text' : 'password'"
        formControlName="password"
      >
      <button class="password-eye-btn" type="button" (click)="isShowPassword.set(!isShowPassword())">
        <i [ngClass]="isShowPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
      </button>
      @if (form.controls['password'].hasError('minLength')) {
        <mat-error>Пароль менее 8 символов</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Тип аккаунта</mat-label>
      <mat-select formControlName="type">
        @for (role of rolesArray(); track role.key) {
          <mat-option [value]="role.key">{{ role.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-actions">
    <div>
      <app-button type="submit"
                  [disabled]="form.controls['password'].hasError('minLength') || form.controls['email'].hasError('email')">
        Регистрация
      </app-button>
    </div>
    <div class="form-links">
      <!-- Ссылка "Забыл пароль?" -->
      <div class="text-nowrap">
      <span id="forgot-password">
        Есть уже аккаунт? <a href="/">Вход</a>
      </span>
      </div>
    </div>
  </div>
</form>
