<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-fields">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName ="email"
      >
      @if (form.controls['email'].hasError('email')) {
        <mat-error>Некорректный email</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-actions">
    <div>
      <app-button type="submit" [disabled]="form.controls['email'].hasError('email')">
        Восстановить
      </app-button>
    </div>
    <div class="form-links">
      <div class="text-nowrap">
      <span id="enter">
        Вспомнил? <a href="/">Войти</a>
      </span>
      </div>
      <div class="text-nowrap">
      <span id="register">
        Нет учётной записи? <a href="/register">Зарегистрироваться</a>
      </span>
      </div>
    </div>
  </div>
</form>
