.double-btn {
  display: grid;
  grid-template-columns: 1fr 1fr; /* две колонки по содержимому */
  justify-content: center; /* центрирование по горизонтали */
  gap: 16px; /* расстояние между кнопками */
  margin-top: 24px;
}


