<body class="container h-100 user-theme-light">
<div class="row h-100">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()"
        class="col-sm-9 col-md-8 col-lg-6 mx-auto my-auto">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Восстановление пароля
        </mat-card-title>
      </mat-card-header>

      <mat-card-content (keydown.enter)="formKeyDown()">
        <div class="row no-gutters mt-2">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Email</mat-label>
            <input name="email" matInput type="email" formControlName="email"/>
            <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
              Это поле обязательно
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <div class="col-auto">
          <!-- Кнопка Войти -->
          <button color="primary" mat-raised-button type="submit"> Восстановить</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
</body>
