.field-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  margin-bottom: 40px !important;

  &:last-child {
    margin-bottom: 0;
  }

  // Выравнивание полей по нижнему краю
  ::ng-deep .mat-mdc-form-field {
    margin: 0 !important;
    height: 56px;
    display: flex;
    align-items: center;
  }
}

.characteristic-item {
  position: relative;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  padding: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  .characteristic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // 3 равные колонки
    gap: 16px;
    flex: 1;

    .characteristic-name-field {
      grid-row: span 2;
      min-width: 200px;
    }

    mat-form-field:not(.characteristic-name-field) {
      min-width: 120px;
    }
  }

  .delete-btn {
    margin-top: 40px;
    margin-left: 16px;
  }
}
