.field-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  margin-bottom: 40px !important;

  &:last-child {
    margin-bottom: 0;
  }

  ::ng-deep .mat-mdc-form-field {
    margin: 0 !important;
    height: 56px;
    display: flex;
    align-items: center;
  }
}

.delete-btn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 10;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
