<div class="wrapper">
  @if (!isConfirmation() && !message) {
    <div class="loading-container">
      <mat-spinner diameter="100"></mat-spinner>
      <p class="loading-text">Подтверждаем активацию...</p>
    </div>
  } @else if (isConfirmation()) {
    <div class="container success">
      <h2>Активация прошла успешно 🎉</h2>
      <p>Теперь вы можете войти в систему.</p>
      <app-button routerLink="/">Войти</app-button>
    </div>
  } @else if (message()) {
    <div class="container error">
      <h2>Ошибка 😕</h2>
      <div class="message error">
        <p>{{ message() }}</p>
      </div>
      <app-button (click)="repeatConfirmation()">Отправить повторную ссылку подтверждения</app-button>
    </div>
  }
</div>
