<div class="wrapper">
  @if (!confirmed && !message) {
    <div class="container-load">
      <div class="spinner"></div>
      <p>Подтверждаем активацию...</p>
    </div>
  } @else if (confirmed) {
    <div class="container">
      <h2>Активация прошла успешно 🎉</h2>
      <p>Теперь вы можете войти в систему.</p>
      <a routerLink="/" class="btn">Войти</a>
    </div>
  } @else if (message) {
    <div class="container">
      <h2>Ошибка 😕</h2>
      <div [ngClass]="['message', 'error']"><p>{{ message }}</p></div>
    </div>
  }
</div>
