<div class="center-wrapper">
  <div class="form-wrapper">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>

    <form class="update-password-form" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
      <h3>Обновление пароля</h3>

      <div *ngIf="message" class="message" [ngClass]="{'success': isUpdate, 'error': !isUpdate}">
        <p>{{ message }}</p>
      </div>

      <div class="input-group">
        <input [type]="isShowCurrentPassword() ? 'text' : 'password'" class="input-field" id="currentPassword"
               formControlName="currentPassword" placeholder=" "/>
        <label for="currentPassword" class="input-label">Текущий пароль</label>
        <button class="password-eye-btn" type="button" (click)="isShowCurrentPassword.set(!isShowCurrentPassword())">
          <i [ngClass]="isShowCurrentPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
        </button>
        <div class="input-hint">Пароль должен содержать минимум 8 символов</div>
      </div>

      <div class="input-group">
        <input [type]="isShowNewPassword() ? 'text' : 'password'" class="input-field" id="newPassword"
               formControlName="newPassword" placeholder=" "/>
        <label for="newPassword" class="input-label">Новый пароль</label>
        <button class="password-eye-btn" type="button" (click)="isShowNewPassword.set(!isShowNewPassword())">
          <i [ngClass]="isShowNewPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
        </button>
        <div class="input-hint">Пароль должен содержать минимум 8 символов</div>
      </div>

      <div class="input-group">
        <input [type]="isShowRepeatedPassword() ? 'text' : 'password'" class="input-field" id="repeatedPassword"
               formControlName="repeatedPassword" placeholder=" "/>
        <label for="repeatedPassword" class="input-label">Подтверждение пароля</label>
        <button class="password-eye-btn" type="button" (click)="isShowRepeatedPassword.set(!isShowRepeatedPassword())">
          <i [ngClass]="isShowRepeatedPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
        </button>
        <div class="input-hint">Пароль должен содержать минимум 8 символов</div>
      </div>

      <button class="btn" type="submit" [disabled]="!updatePasswordForm.valid">Сбросить пароль</button>

    </form>
  </div>
</div>

