<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-fields">
    <mat-form-field appearance="outline" class="full-width password-field">
      <mat-label>Текущий пароль</mat-label>
      <input
        matInput
        [type]="isShowCurrentPassword() ? 'text' : 'password'"
        formControlName="currentPassword"
      >
      <button class="password-eye-btn" type="button" (click)="isShowCurrentPassword.set(!isShowCurrentPassword())">
        <i [ngClass]="isShowCurrentPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
      </button>
      @if (form.controls['currentPassword'].hasError('minLength')) {
        <mat-error>Пароль не введен</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width password-field">
      <mat-label>Новый пароль</mat-label>
      <input
        matInput
        [type]="isShowNewPassword() ? 'text' : 'password'"
        formControlName="newPassword"
      >
      <button class="password-eye-btn" type="button" (click)="isShowNewPassword.set(!isShowNewPassword())">
        <i [ngClass]="isShowNewPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
      </button>
      @if (form.controls['newPassword'].hasError('minLength')) {
        <mat-error>Парль не введен</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width password-field">
      <mat-label>Подтверждение пароль</mat-label>
      <input
        matInput
        [type]="isShowRepeatedPassword() ? 'text' : 'password'"
        formControlName="repeatedPassword"
      >
      <button class="password-eye-btn" type="button" (click)="isShowRepeatedPassword.set(!isShowRepeatedPassword())">
        <i [ngClass]="isShowRepeatedPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
      </button>
      @if (form.controls['repeatedPassword'].hasError('minLength')) {
        <mat-error>Пароль не введен</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-actions">
    <app-button type="submit">
      Обновить пароль
    </app-button>
  </div>
</form>
