<mat-tab-group class="vertical-tabs" mat-stretch-tabs="false">
  <mat-tab label="Стандартные образцы">
    <ng-template matTabContent>
      <app-standard-sample></app-standard-sample>
    </ng-template>
  </mat-tab>
  <mat-tab label="Реактивы">
    <ng-template matTabContent>
      <app-reagent-main></app-reagent-main>
    </ng-template>
  </mat-tab>
  <mat-tab label="Прекурсоры и спирт">
    <ng-template matTabContent>
      <app-precursors-main></app-precursors-main>
    </ng-template>
  </mat-tab>
  <mat-tab label="Приготовление растворов">
    <ng-template matTabContent>
      <app-chemical-solution-main></app-chemical-solution-main>
    </ng-template>
  </mat-tab>
</mat-tab-group>
