<form class="login-form" (ngSubmit)="onSubmit()">
  <div class="form-fields">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        [field]="loginForm.email"
      >
      @if (!loginForm.email().valid()) {
        <mat-error>Некорректный email</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width password-field">
      <mat-label>Пароль</mat-label>
      <input
        matInput
        [type]="isShowPassword() ? 'text' : 'password'"
        [field]="loginForm.password"
      >
      <button class="password-eye-btn" type="button" (click)="isShowPassword.set(!isShowPassword())">
        <i [ngClass]="isShowPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
      </button>
      @if (!loginForm.password().valid()) {
        <mat-error>Пароль не введен</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-actions">
    <div>
      <app-button type="submit" [disabled]="!loginForm.password().valid() || !loginForm.email().valid()">
        Вход
      </app-button>
    </div>
    <div class="form-links">
      <!-- Ссылка "Забыл пароль?" -->
      <div class="text-nowrap">
      <span id="forgot-password">
        Забыли пароль? <a href="/forgot-password">Восстановить</a>
      </span>
      </div>

      <!-- Ссылка "Зарегистрироваться" -->
      <div class="text-nowrap">
      <span id="register">
        Нет учётной записи? <a href="/register">Зарегистрироваться</a>
      </span>
      </div>
    </div>
  </div>
</form>
