.dialog-form {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  max-width: 100%;
  width: 100%;
  border-radius: 20px !important;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08) !important;
  border: 1px solid #e2e8f0;
  padding: 0 24px 24px;
  box-sizing: border-box;
}

.dialog-header {
  display: flex;
  flex-direction: column;

  .header-content {
    display: flex;
    align-items: center;
    gap: 12px;

    mat-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
    }

    .title {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .subtitle {
    margin: 0;
    font-size: 14px;
  }
}

.dialog-content {
  padding-top: 15px !important;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
}

