// Основной стиль для всех Snackbar
.mat-mdc-snack-bar-container {
  border-radius: 8px;
  min-width: 240px;
  max-width: 400px;
  transition: all 300ms ease-in-out;
}

// Стиль ошибки
.error-snackbar {
  background-color: #b00020 !important;
  color: black !important;

  .mat-mdc-snack-bar-action {
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    padding-left: 12px;
    background-color: transparent !important;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent !important;
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .mat-mdc-snack-bar-label {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

// Стиль предупреждения
.warning-snackbar {
  background-color: #e69109 !important; // чуть темнее желтого
  color: black !important;

  .mat-mdc-snack-bar-action {
    color: rgba(255, 255, 255, 0.9);
  }
}

// Информационное уведомление
.info-snackbar {
  background-color: #0d47a1 !important; // темно-синий
  color: black !important;

  .mat-mdc-snack-bar-action {
    color: rgba(255, 255, 255, 0.9);
  }
}

.success-snackbar {
  background-color: #2e7d32 !important; // зелёный
  color: black !important;

  .mat-mdc-snack-bar-action {
    color: rgba(255, 255, 255, 0.9);
  }
}
