@if (isLoading()) {
  <app-loader>Загрузка данных профиля...</app-loader>
} @else if (!isLoading()) {
  <div class="profile-layout">
    <aside class="profile-sidebar">

      <div class="sidebar-section">
        <div class="avatar-container">
          @if (info()?.avatarUrl) {
            <img [src]="info()?.avatarUrl" alt="Аватар" class="avatar"/>
          } @else {
            <div class="avatar-initials">{{ getInitials() }}</div>
          }
        </div>
        <div class="grid">
          <h3>Основная информация</h3>
          <button mat-icon-button class="add-button"
                  [matTooltip]="info() ? 'Редактировать информацию о себе' : 'Добавить информацию о себе'"
                  (click)="openGeneralDialog(ProfileDialog, info(), false)">
            <mat-icon>{{ info() ? 'edit' : 'add' }}</mat-icon>
          </button>
        </div>
        <div class="info-list">
          <div class="info-item">
            <span class="info-label">Фамилия</span>
            <span class="info-value">{{ info()?.lastName }}</span>
          </div>
          <div class="info-item">
            <span class="info-label">Имя</span>
            <span class="info-value">{{ info()?.firstName }}</span>
          </div>
          @if (info()?.middleName) {
            <div class="info-item">
              <span class="info-label">Отчество</span>
              <span class="info-value">{{ info()?.middleName }}</span>
            </div>
          }
          <div class="info-item">
            <span class="info-label">Дата рождения</span>
            <span class="info-value">{{ info()?.birthDate | date }}</span>
          </div>
          <div class="info-item">
            <span class="info-label">Полных лет</span>
            <span class="info-value">{{ getAge() }}</span>
          </div>
          <div class="info-item">
            <span class="info-label">Место рождения</span>
            <span class="info-value">{{ info()?.birthPlace }}</span>
          </div>
          <div class="info-item">
            <span class="info-label">СНИЛС</span>
            <span class="info-value">{{ info()?.snils | snils }}</span>
          </div>
        </div>
      </div>


      @if (info()) {
        <mat-accordion class="contact-accordion">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>contacts</mat-icon>
                <span>Контактная информация</span>
              </mat-panel-title>
              <button mat-icon-button class="add-button" [matTooltip]="'Добавить контакт'"
                      (click)="openDialog(ContactDialog, 'contacts')">
                <mat-icon>add</mat-icon>
              </button>

            </mat-expansion-panel-header>
            @if (info()!.contacts.length > 0) {
              <div class="contacts-grid">
                @for (contact of info()?.contacts; track contact.id) {
                  <div class="contact-card">
                    <button mat-icon-button [matTooltip]="'Удалить контакт'" (click)="delete(contact.id, 'contacts')">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button [matTooltip]="'Редактировать'"
                            (click)="openDialog(ContactDialog, 'contacts', contact)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <div class="contact-header">
                      <mat-label>{{ getTypeValue(contact.contactTypeId, 'contact-type') }}:</mat-label>
                    </div>
                    <div class="contact-body">
                      <a class="contact-link">{{ contact.value }}</a>
                    </div>
                  </div>
                }
              </div>
            } @else {
              <div class="empty-state">
                <mat-icon>contact_mail</mat-icon>
                <p>Контактная информация не указана</p>
              </div>
            }
          </mat-expansion-panel>
        </mat-accordion>
      }

    </aside>

    @if (info()) {
      <!--     Основной контент с табами -->
      <mat-tab-group class="profile-tabs" animationDuration="300">

        <!-- Вкладка Образование -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-label">
              <mat-icon>school</mat-icon>
              <span>Образование</span>
              @if (info()!.educations.length > 0) {
                <span class="tab-badge">{{ info()!.educations.length }}</span>
              }
              <button mat-icon-button class="add-button ml-10" [matTooltip]="'Добавить образованеие'"
                      (click)="openDialog(EducationDialog, 'educations')">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-template>

          <div class="tab-content">
            @if (info()!.educations.length > 0) {
              <div class="tab-list">
                @for (edu of info()!.educations; track edu.id) {
                  <div class="tab-card">
                    <!-- Кнопки справа -->
                    <div class="card-actions">
                      <button mat-icon-button [matTooltip]="'Редактировать'"
                              (click)="openDialog(EducationDialog, 'educations', edu)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button [matTooltip]="'Удалить запись об образовании'"
                              (click)="delete(edu.id, 'educations')">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>

                    <!-- Основной контент -->
                    <div class="card-header">
                      <h3>{{ edu.organizationName }}</h3>
                      <div class="card-period">
                        <mat-icon>calendar_today</mat-icon>
                        {{ edu.startDate | date }}
                        – {{ edu.endDate ? (edu.endDate | date) : 'по настоящее время' }}
                      </div>
                    </div>

                    <div class="education-body">
                      <div class="specialization">
                        <mat-icon>auto_stories</mat-icon>
                        {{ getTypeValue(edu.educationTypeId, 'education-type') }}
                      </div>
                      <div class="specialization">
                        <mat-icon>subject</mat-icon>
                        {{ edu.specialization }}
                      </div>
                      @if (edu.documentNumber) {
                        <div class="diploma">
                          <mat-icon>verified</mat-icon>
                          <span>{{ getTypeValue(edu.educationDocumentTypeId, 'education-doc-type') }}
                            № {{ edu.documentNumber }}</span>
                          @if (edu.documentIssueDate) {
                            <span class="issue-date">от {{ edu.documentIssueDate | date }}</span>
                          }
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            } @else {
              <div class="empty-state">
                <mat-icon>school</mat-icon>
                <p>Данные об образовании отсутствуют</p>
              </div>
            }
          </div>
        </mat-tab>

        <!-- Вкладка Опыт работы -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-label">
              <mat-icon>work</mat-icon>
              <span>Опыт работы</span>
              @if (info()!.works.length > 0) {
                <span class="tab-badge">{{ info()!.works.length }}</span>
              }
              <button mat-icon-button class="add-button ml-10" [matTooltip]="'Добавить опыт работы'"
                      (click)="openDialog(WorkDialog, 'works')">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-template>

          <div class="tab-content">
            @if (info()!.works.length > 0) {
              <div class="tab-list">
                @for (work of info()!.works; track work.id) {

                  <div class="tab-card">
                    <div class="card-actions">
                      <button mat-icon-button [matTooltip]="'Редактировать'"
                              (click)="openDialog(WorkDialog, 'works', work)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button [matTooltip]="'Удалить запись об образовании'"
                              (click)="delete(work.id, 'works')">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <div class="card-header">
                      <h3>{{ work.position }}</h3>
                      <div class="card-period">
                        <mat-icon>schedule</mat-icon>
                        {{ work.startDate | date }}
                        – {{ work.endDate ? (work.endDate | date) : 'по настоящее время' }}
                      </div>
                    </div>

                    <div class="work-company">
                      <mat-icon>business</mat-icon>
                      {{ work.organizationName }}
                    </div>


                    <div class="tags">
                      <!-- Отображение measurementTypeIds как тегов -->
                      @if (work.measurementTypeIds && work.measurementTypeIds.length > 0) {
                        <mat-chip-set class="work-tags" aria-label="Типы измерений">
                          @for (measurementTypeId of work.measurementTypeIds; track measurementTypeId) {
                            <mat-chip-row>{{ getTypeValue(measurementTypeId, 'measurement-type') }}</mat-chip-row>
                          }
                        </mat-chip-set>
                      }
                    </div>
                  </div>
                }
              </div>
            } @else {
              <div class="empty-state">
                <mat-icon>work_outline</mat-icon>
                <p>Опыт работы не указан</p>
              </div>
            }
          </div>
        </mat-tab>

      </mat-tab-group>
    }
  </div>
}
