<form class="form" [formGroup]="form"  (ngSubmit)="onSubmit()">
  <div class="form-fields">
    <mat-form-field appearance="outline"  class="full-width password-field">
      <mat-label>Новый пароль</mat-label>
      <input
        matInput
        [type]="isShowNewPassword() ? 'text' : 'password'"
        formControlName="newPassword"
      >
      <button class="password-eye-btn" type="button" (click)="isShowNewPassword.set(!isShowNewPassword())">
        <i [ngClass]="isShowNewPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
      </button>
      @if (form.controls['newPassword'].hasError('minLength')) {
        <mat-error>Пароль менее 8 символов</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width password-field">
      <mat-label>Подтверждение пароля</mat-label>
      <input
        matInput
        [type]="isShowRepeatedPassword() ? 'text' : 'password'"
        formControlName="repeatedPassword"
      >
      <button class="password-eye-btn" type="button" (click)="isShowRepeatedPassword.set(!isShowRepeatedPassword())">
        <i [ngClass]="isShowRepeatedPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
      </button>
      @if (form.controls['repeatedPassword'].hasError('minLength')) {
        <mat-error>Пароль менее 8 символов</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-actions" >
      <app-button type="submit">
        Сбросить пароль
      </app-button>
  </div>
</form>
