<form class="login-form" (ngSubmit)="onSubmit()">
  <div class="form-fields">
    <mat-form-field appearance="outline"  class="full-width password-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        [type]="isShowNewPassword() ? 'text' : 'password'"
        [field]="resetPasswordForm.newPassword"
      >
      <button class="password-eye-btn" type="button" (click)="isShowNewPassword.set(!isShowNewPassword())">
        <i [ngClass]="isShowNewPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
      </button>
      @if (!resetPasswordForm.newPassword().valid()) {
        <mat-error>Парль не введен</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width password-field">
      <mat-label>Пароль</mat-label>
      <input
        matInput
        [type]="isShowRepeatedPassword() ? 'text' : 'password'"
        [field]="resetPasswordForm.repeatedPassword"
      >
      <button class="password-eye-btn" type="button" (click)="isShowRepeatedPassword.set(!isShowRepeatedPassword())">
        <i [ngClass]="isShowRepeatedPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
      </button>
      @if (!resetPasswordForm.repeatedPassword().valid()) {
        <mat-error>Пароль не введен</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-actions" >
      <app-button type="submit"
                  [disabled]="!resetPasswordForm.newPassword().valid() || !resetPasswordForm.repeatedPassword().valid()">
        Сбросить пароль
      </app-button>
  </div>
</form>
