<div class="center-wrapper">
  <div class="form-wrapper">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>

    <form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <h3>Сброс пароля</h3>
      <div *ngIf="message" [ngClass]="['message', 'error']"><p>{{ message }}</p></div>

      <div class="input-group">
        <input [type]="isShowNewPassword() ? 'text' : 'password'" class="input-field" id="newPassword"
               formControlName="newPassword" placeholder=" "/>
        <label for="newPassword" class="input-label">Новый пароль</label>
        <button class="password-eye-btn" type="button" (click)="isShowNewPassword.set(!isShowNewPassword())">
          <i [ngClass]="isShowNewPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
        </button>
        <div class="input-hint">Пароль должен содержать минимум 8 символов</div>
      </div>

      <div class="input-group">
        <input [type]="isShowRepeatedPassword() ? 'text' : 'password'" class="input-field" id="repeatedPassword"
               formControlName="repeatedPassword" placeholder=" "/>
        <label for="repeatedPassword" class="input-label">Подтверждение пароля</label>
        <button class="password-eye-btn" type="button" (click)="isShowRepeatedPassword.set(!isShowRepeatedPassword())">
          <i [ngClass]="isShowRepeatedPassword() ? 'bx bx-hide' : 'bx bx-show'"></i>
        </button>
        <div class="input-hint">Пароль должен содержать минимум 8 символов</div>
      </div>

      <button class="btn" type="submit" [disabled]="!resetPasswordForm.valid">Сбросить пароль</button>

    </form>
  </div>
</div>
