<mat-sidenav
  mode="side"
  opened
  class="sidebar"
  [style.width.px]="250"
>
  <div class="sidebar-logo">
    <h2>Lab.Tech</h2>
  </div>

  <mat-nav-list class="menu-links">
    <a mat-list-item href="#" class="nav-link">
      <mat-icon>bxs-dashboard</mat-icon>
      <span class="navbar-text">Dashboard</span>
    </a>

    <!-- Другие пункты меню -->
    <!--
    <a mat-list-item href="#">
      <mat-icon>person</mat-icon>
      <span class="navbar-text">Profile</span>
    </a>
    -->
  </mat-nav-list>
</mat-sidenav>
