@use '@angular/material' as mat;
@use "styles/notifier";

@include mat.theme((
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
    error: mat.$red-palette,
  ),
  density: 0,
));


html, body {
  height: 100%;
}

body {
  margin: 0;
  color-scheme: light dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

.success .mat-mdc-snack-bar-container {
  background: green !important;
  color: white !important;
}
