@use '@angular/material' as mat;
@use 'styles/theme-colors';
@use 'styles/notification';
@use "styles/dialog-form";
@use "styles/abstract-style";
@use "styles/table-style";

@include mat.core();

html {
  color-scheme: light dark;

  @include mat.theme((
    color: (
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

.tertiary {
  @include mat.theme((color: theme-colors.$tertiary-palette))
}

.secondary {
  @include mat.theme((color: theme-colors.$secondary-palette))
}

.error {
  @include mat.theme((color: theme-colors.$error-palette))
}

@media (prefers-contrast: more) {
  @include theme-colors.high-contrast-overrides(color-scheme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color-scheme: light dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}



