<div class="dialog-form">
  <div mat-dialog-title class="dialog-header">
    <div class="header-content">
      <mat-icon>inventory_2</mat-icon>
      <h2 class="title">{{ title }}</h2>
    </div>
    <p class="subtitle">Заполните информацию об оборудовании</p>
  </div>

  <mat-dialog-content class="dialog-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <mat-accordion displayMode="flat">

        <!-- ОСНОВНАЯ ИНФОРМАЦИЯ -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Основная информация
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="form-fields">
            <!-- Наименование -->
            <mat-form-field appearance="outline">
              <mat-label>Наименование</mat-label>
              <input matInput formControlName="name" placeholder="Например, Спектрометр">
              <mat-icon matPrefix>title</mat-icon>
              @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
                <mat-error>Укажите наименование</mat-error>
              }
            </mat-form-field>

            <!-- Наименование видов испытаний -->
            <mat-form-field appearance="outline">
              <mat-label>Наименование видов испытаний и/или определяемых характеристик</mat-label>
              <input matInput formControlName="measurementType"
                     placeholder="Например, содержание тяжелых металлов, прочность">
              <mat-icon matPrefix>science</mat-icon>
              @if (form.get('measurementType')?.hasError('required') && form.get('measurementType')?.touched) {
                <mat-error>Укажите виды испытаний или определяемые характеристики</mat-error>
              }
            </mat-form-field>

            <!-- Наименование испытуемых групп объектов -->
            <mat-form-field appearance="outline">
              <mat-label>Наименование испытуемых групп объектов</mat-label>
              <input matInput formControlName="measurementGroup"
                     placeholder="Например, вода, строительные материалы">
              <mat-icon matPrefix>category</mat-icon>
              @if (form.get('measurementGroup')?.hasError('required') && form.get('measurementGroup')?.touched) {
                <mat-error>Укажите группы испытуемых объектов</mat-error>
              }
            </mat-form-field>

            <!-- Производитель -->
            <mat-form-field appearance="outline">
              <mat-label>Производитель</mat-label>
              <input matInput formControlName="producer" placeholder="Например, ООО ТехноЛаб">
              <mat-icon matPrefix>factory</mat-icon>
              @if (form.get('producer')?.hasError('required') && form.get('producer')?.touched) {
                <mat-error>Укажите производителя</mat-error>
              }
            </mat-form-field>

            <!-- Место установки -->
            <mat-form-field appearance="outline">
              <mat-label>Место установки</mat-label>
              <input matInput formControlName="location" placeholder="Например, Помещение №4">
              <mat-icon matPrefix>location_on</mat-icon>
              @if (form.get('location')?.hasError('required') && form.get('location')?.touched) {
                <mat-error>Укажите место установки</mat-error>
              }
            </mat-form-field>

            <div class="grid">
              <!-- Год выпуска -->
              <mat-form-field appearance="outline">
                <mat-label>Год выпуска</mat-label>
                <input matInput type="number" formControlName="produceYear" min="1900" max="2100" placeholder="2020">
                <mat-icon matPrefix>calendar_today</mat-icon>
                @if (form.get('produceYear')?.hasError('required') && form.get('produceYear')?.touched) {
                  <mat-error>Укажите год выпуска</mat-error>
                }
              </mat-form-field>

              <!-- Год ввода в эксплуатацию -->
              <mat-form-field appearance="outline">
                <mat-label>Год ввода в эксплуатацию</mat-label>
                <input matInput type="number" formControlName="yearOfCommissioning" min="1900" max="2100"
                       placeholder="2021">
                <mat-icon matPrefix>calendar_month</mat-icon>
                @if (form.get('yearOfCommissioning')?.hasError('required') && form.get('yearOfCommissioning')?.touched) {
                  <mat-error>Укажите год ввода в эксплуатацию</mat-error>
                }
              </mat-form-field>
            </div>

            <!-- Заводской номер -->
            <mat-form-field appearance="outline">
              <mat-label>Заводской номер</mat-label>
              <input matInput formControlName="produceNumber" placeholder="Например, SN-123456">
              <mat-icon matPrefix>qr_code</mat-icon>
            </mat-form-field>

            <!-- Инвентарный номер -->
            <mat-form-field appearance="outline">
              <mat-label>Инвентарный номер</mat-label>
              <input matInput formControlName="uniqueNumber" placeholder="Например, ИН-7890">
              <mat-icon matPrefix>confirmation_number</mat-icon>
              @if (form.get('uniqueNumber')?.hasError('required') && form.get('uniqueNumber')?.touched) {
                <mat-error>Укажите инвентарный номер</mat-error>
              }
            </mat-form-field>
          </div>
        </mat-expansion-panel>

        <!-- ДОГОВОР -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Договор аренды / собственности
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div formGroupName="contract" class="form-fields">
            <div class="grid">
              <!-- Номер договора -->
              <mat-form-field appearance="outline">
                <mat-label>Номер договора</mat-label>
                <input matInput formControlName="contractNumber" placeholder="Например, №45-АР/2025">
                <mat-icon matPrefix>description</mat-icon>
                @if (form.get('contract.contractNumber')?.hasError('required') && form.get('contract.contractNumber')?.touched) {
                  <mat-error>Укажите номер договора</mat-error>
                }
              </mat-form-field>

              <!-- Дата договора -->
              <mat-form-field appearance="outline">
                <mat-label>Дата договора</mat-label>
                <input
                  matInput
                  [matDatepicker]="contractDatePicker"
                  formControlName="contractDate"
                  placeholder="Выберите дату"
                  readonly
                  (click)="contractDatePicker.open()"
                />
                <mat-datepicker-toggle matSuffix [for]="contractDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #contractDatePicker></mat-datepicker>
                @if (form.get('contract.contractDate')?.hasError('required') && form.get('contract.contractDate')?.touched) {
                  <mat-error>Укажите дату договора</mat-error>
                }
              </mat-form-field>
            </div>

            <div class="grid" style="grid-template-columns: 1fr 1fr;">
              <mat-form-field appearance="outline">
                <mat-label>Тип владения</mat-label>
                <mat-select formControlName="isOwn" required>
                  <mat-option [value]="true">В собственности</mat-option>
                  <mat-option [value]="false">В аренде</mat-option>
                </mat-select>
                @if (form.get('contract.isOwn')?.hasError('required') && form.get('contract.isOwn')?.touched) {
                  <mat-error>Выберите тип владения</mat-error>
                }
              </mat-form-field>

              <!-- Дата окончания (только при аренде) -->
              @if (form.get('contract.isOwn')?.value === false) {
                <mat-form-field appearance="outline">
                  <mat-label>Дата окончания</mat-label>
                  <input
                    matInput
                    [matDatepicker]="endPicker"
                    formControlName="endAt"
                    readonly
                    (click)="endPicker.open()"
                  >
                  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
              }
            </div>
          </div>
        </mat-expansion-panel>

        <!-- АТТЕСТАЦИИ -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Сведения об аттестации оборудования
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="form-fields">
            <div formArrayName="attestations">
              @for (control of attestations.controls; track $index; let i = $index) {
                <div [formGroupName]="i" class="attestation-item">
                  <!-- Обёртка для контента -->
                  <div class="attestation-content">
                    <!-- Первая строка -->
                    <div class="field-row">
                      <mat-form-field appearance="outline">
                        <mat-label>Номер свидетельства</mat-label>
                        <input matInput formControlName="attestationNumber" placeholder="Например, AT-2025-001">
                        <mat-icon matPrefix>assignment</mat-icon>
                        @if (control.get('attestationNumber')?.hasError('required') && control.get('attestationNumber')?.touched) {
                          <mat-error>Укажите номер</mat-error>
                        }
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Дата аттестации</mat-label>
                        <input
                          matInput
                          [matDatepicker]="startPicker"
                          formControlName="startAt"
                          readonly
                          (click)="startPicker.open()"
                        />
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                        @if (control.get('startAt')?.hasError('required') && control.get('startAt')?.touched) {
                          <mat-error>Укажите дату аттестации</mat-error>
                        }
                      </mat-form-field>
                    </div>

                    <!-- Вторая строка -->
                    <div class="field-row">
                      <mat-form-field appearance="outline">
                        <mat-label>Статус аттестации</mat-label>
                        <mat-select formControlName="isSuccess">
                          <mat-option [value]="true">Удовлетворительная</mat-option>
                          <mat-option [value]="false">Неудовлетворительная</mat-option>
                        </mat-select>
                        @if (control.get('isSuccess')?.hasError('required') && control.get('isSuccess')?.touched) {
                          <mat-error>Выберите статус</mat-error>
                        }
                      </mat-form-field>

                      @if (control.get('isSuccess')?.value) {
                        <mat-form-field appearance="outline">
                          <mat-label>Срок действия до</mat-label>
                          <input
                            matInput
                            [matDatepicker]="endPicker"
                            formControlName="endAt"
                            placeholder="Выберите дату"
                            readonly
                            (click)="endPicker.open()"
                          />
                          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                          <mat-datepicker #endPicker></mat-datepicker>
                        </mat-form-field>
                      }
                    </div>
                  </div>

                  <!-- Кнопка удаления — справа, на всю высоту -->
                  <button mat-icon-button color="warn" type="button" (click)="removeAttestation(i)" class="delete-btn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              }

              @if (attestations.length === 0) {
                <p class="no-data">Нет добавленных аттестаций</p>
              }
            </div>

            <button mat-stroked-button type="button" (click)="addAttestation()" class="add-characteristic-btn">
              <mat-icon>add</mat-icon>
              Добавить аттестацию
            </button>
          </div>
        </mat-expansion-panel>

        <!-- МЕТРОЛОГИЧЕСКИЕ ХАРАКТЕРИСТИКИ -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Метрологические характеристики
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="form-fields">
            <div formArrayName="characteristics">
              @for (control of characteristics.controls; track $index; let i = $index) {
                <div [formGroupName]="i" class="characteristic-item">
                  <div class="grid" style="grid-template-columns: 1fr 1fr 1fr auto;">
                    <!-- Наименование -->
                    <mat-form-field appearance="outline">
                      <mat-label>Наименование</mat-label>
                      <input matInput formControlName="name" placeholder="Например, Диапазон измерений">
                      @if (control.get('name')?.hasError('required') && control.get('name')?.touched) {
                        <mat-error>Укажите наименование</mat-error>
                      }
                    </mat-form-field>

                    <!-- Начальное значение -->
                    <mat-form-field appearance="outline">
                      <mat-label>Значение/Диапазон</mat-label>
                      <input matInput formControlName="value" placeholder="0">
                      @if (control.get('value')?.hasError('required') && control.get('value')?.touched) {
                        <mat-error>Укажите наименование</mat-error>
                      }
                    </mat-form-field>

                    <!-- Единица измерения -->
                    <mat-form-field appearance="outline">
                      <mat-label>Ед. изм.</mat-label>
                      <input matInput formControlName="unit" placeholder="°C, мПа">
                      @if (control.get('unit')?.hasError('required') && control.get('unit')?.touched) {
                        <mat-error>Укажите единицу</mat-error>
                      }
                    </mat-form-field>

                    <!-- Удалить -->
                    <button mat-icon-button color="warn" type="button" (click)="removeCharacteristic(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              }

              @if (characteristics.length === 0) {
                <p class="no-data">Нет добавленных характеристик</p>
              }
            </div>

            <button mat-stroked-button type="button" (click)="addCharacteristic()" class="add-characteristic-btn">
              <mat-icon>add</mat-icon>
              Добавить характеристику
            </button>
          </div>
        </mat-expansion-panel>

        <!-- ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Техническое обслуживание
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="form-fields">
            <div formArrayName="maintenances">
              @for (control of maintenances.controls; track $index; let i = $index) {
                <div [formGroupName]="i" class="attestation-item">
                  <div class="attestation-content">
                    <!-- Первая строка: тип и описание -->
                    <div class="field-row">
                      <mat-form-field appearance="outline">
                        <mat-label>Тип ТО</mat-label>
                        <input
                          matInput
                          formControlName="typeName"
                          placeholder="Например, Профилактическое, Калибровка, Модернизация"
                          required
                        >
                        @if (control.get('typeName')?.hasError('required') && control.get('typeName')?.touched) {
                          <mat-error>Укажите тип технического обслуживания</mat-error>
                        }
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Описание</mat-label>
                        <input matInput formControlName="description" placeholder="Например, замена фильтра">
                      </mat-form-field>
                    </div>

                    <!-- Вторая строка: периодичность и интервал -->
                    <div class="field-row">
                      <mat-form-field appearance="outline">
                        <mat-label>Периодичность</mat-label>
                        <mat-select formControlName="frequency">
                          @for (entry of Array.from(frequencyTypeMap.entries()); track entry[0]) {
                            <mat-option [value]="entry[0]">{{ entry[1] }}</mat-option>
                          }
                        </mat-select>
                        @if (control.get('frequency')?.hasError('required') && control.get('frequency')?.touched) {
                          <mat-error>Выберите периодичность</mat-error>
                        }
                      </mat-form-field>

                      @if (control.get('frequency')?.value !== 'ON_DEMAND') {
                        <mat-form-field appearance="outline">
                          <mat-label>Интервал</mat-label>
                          <input matInput type="number" formControlName="interval" min="1" required>
                          <span matSuffix>
                    @switch (control.get('frequency')?.value) {
                      @case ('WEEKLY') {
                        недель
                      }
                      @case ('MONTHLY') {
                        месяцев
                      }
                      @case ('YEARLY') {
                        лет
                      }
                    }
                  </span>
                          @if (control.get('interval')?.hasError('required') && control.get('interval')?.touched) {
                            <mat-error>Укажите интервал</mat-error>
                          }
                        </mat-form-field>
                      }
                    </div>
                  </div>

                  <!-- Кнопка удаления -->
                  <button mat-icon-button color="warn" type="button" (click)="removeMaintenance(i)" class="delete-btn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              }

              @if (maintenances.length === 0) {
                <p class="no-data">Нет добавленных шаблонов ТО</p>
              }
            </div>

            <button mat-stroked-button type="button" (click)="addMaintenance()" class="add-characteristic-btn">
              <mat-icon>add</mat-icon>
              Добавить шаблон ТО
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <app-button mat-dialog-close class="mr-20 error">
      Отмена
    </app-button>
    <app-button [disabled]="form.invalid" (click)="onSubmit()">
      {{ submitLabel }}
    </app-button>
  </mat-dialog-actions>
</div>
